@model Category

<form method="post" asp-action="Delete">
    <!-- cần truyền vào id ẩn-->
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Delete Category</h2>
            <hr />
            <!-- Thông báo tất cả lỗi-->
            @*<div asp-validation-summary="All"></div>*@
            <!-- Name-->
            <div class="mb-3">
                <label asp-for="Name"> Name</label>
                <input asp-for="Name" disabled class="form-control" />
            </div>
            <!-- Display Order-->
            <div class="mb-3">
                <label asp-for="DisplayOrder"> Display Order</label>
                <input asp-for="DisplayOrder" disabled class="form-control" />
            </div>
        </div>
        <!--Function delete-->
        <button type="submit" class="btn btn-primary" style="width:150px">Delete</button>
        <!--Function back-->
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

